<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="content">

    <h1>
        <core:icon identifier="er24_rechtstexte-plugin-main"/>
        <f:translate key="backend.title"/>
    </h1>

    <h2>Konfigurieren Sie hier die Funktionalität des des Domain Plugins.</h2>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <f:form action="update" name="domainConfig" object="{domainConfig}" id="domainConfigEditForm">
        <f:render partial="DomainConfig/FormFields" arguments="{_all}"/>
        <f:link.action action="list" class="btn btn-default" style="margin-right: 30px;">zurück zur Übersicht</f:link.action>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </f:form>
</f:section>
</html>
