<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form.hidden id="domainConfigId" name="domainConfigId" value="{domainConfig.uid}"/>

<div role="tabpanel">
    <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
        <li role="presentation" class="t3js-tabmenu-item  active">
            <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-toggle="tab">
                <core:icon identifier="fa-cog"/>
                <f:translate key="tab-generic" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-toggle="tab">
                <core:icon identifier="fa-bullhorn"/>
                <f:translate key="tab-imprint" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item">
            <a href="#tab-privacy" title="" aria-controls="tab-3" role="tab" data-toggle="tab">
                <core:icon identifier="fa-user"/>
                <f:translate key="tab-privacy" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-social" title="" aria-controls="tab-social" role="tab" data-toggle="tab">
                <core:icon identifier="fa-facebook-square"/>
                <f:translate key="tab-social" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-google" title="" aria-controls="tab-google" role="tab" data-toggle="tab">
                <core:icon identifier="fa-google"/>
                <f:translate key="tab-analytics" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-dok" title="" aria-controls="tab-dok" role="tab" data-toggle="tab">
                <core:icon identifier="fa-question-circle"/>
                <f:translate key="tab-dok" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item {f:if(condition: errors, then: 'has-validation-error')}">
            <a href="#tab-status" title="" aria-controls="tab-status" role="tab" data-toggle="tab">
                <core:icon identifier="fa-check-circle"/>
                <f:translate key="tab-status" />
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3><f:translate key="tab-generic-title" /></h3>

                    <div class="form-group row">
                        <label for="domain" class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.domain"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textfield type="url" property="domain" id="domain" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="apiKey">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.api_key"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="apiKey" id="apiKey" class="form-control" />
                            <p class="text-muted"><f:format.raw><f:translate key="apikey-text" arguments="{0:'https://www.e-recht24.de/mitglieder/tools/projekt-manager/'}" /></f:format.raw></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                <f:translate key="synclabel" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" id="syncAllDocuments" {f:if(condition: domainConfig.clientId, else: 'disabled')}>
                                <f:translate key="sync-all-button-text" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-imprint" id="tab-2" data-source="{domainConfig.imprintSource}">
            <div class="panel panel-tab">
                <div class="panel-body">
                    <h3><f:translate key="tab-imprint-title" /></h3>
                    <p><f:translate key="tab-imprint-text" /></p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left"><f:translate key="local-version" /></span>
                                <f:form.checkbox property="imprintSource" id="imprintSource" value="1"
                                                 class="checkbox-input"/>
                                <label class="checkbox-label" for="imprintSource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right"><f:translate key="remote-version" /></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                <f:translate key="synclabel" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncImprint" {f:if(condition: domainConfig.clientId, else: 'disabled')}><f:translate key="sync-and-save" /></button>
                            <button type="button" class="btn btn-primary local-content" id="imprintRestoreRemote"
                                {f:if(condition: '{domainConfig.imprintDe} || {domainConfig.imprintEn}', else: 'disabled')}
                            ><f:translate key="sync-local-with-remote" /></button>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de"/>
                            </label>
                            <label for="imprintDeLocal" class="local-content">
                                HTML-Code (DE) - <f:translate key="local-append" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="imprintDe" id="imprintDe" cols="40" rows="7"
                                             class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="imprintDeLocal" id="imprintDeLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="imprintDeTstamp" id="imprintDeTstamp"
                                              value="{domainConfig.imprintDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"
                                              disabled="1"
                                              class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en"/>
                            </label>
                            <label for="imprintEnLocal" class="local-content">HTML-Code (EN) - <f:translate key="local-append" /></label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="imprintEn" id="imprintEn" cols="40" rows="7"
                                             class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="imprintEnLocal" id="imprintEnLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="imprintEnTstamp" id="imprintEnTstamp" disabled="1"
                                              class="form-control"
                                              value="{domainConfig.imprintEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-privacy" id="tab-privacy" data-source="{domainConfig.privacySource}">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3><f:translate key="tab-privacy-title" /></h3>
                    <p><f:translate key="tab-privacy-text" /></p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left"><f:translate key="local-version" /></span>
                                <f:form.checkbox property="privacySource" id="privacySource" value="1"
                                                 class="checkbox-input"/>
                                <label class="checkbox-label" for="privacySource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right"><f:translate key="remote-version" /></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                <f:translate key="synclabel" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncPrivacy" {f:if(condition: domainConfig.clientId, else: 'disabled')}><f:translate key="sync-and-save" /></button>
                            <button type="button" class="btn btn-primary local-content" id="privacyRestoreRemote"
                                    {f:if(condition: '{domainConfig.privacyDe} || {domainConfig.privacyEn}', else: 'disabled')}
                            ><f:translate key="sync-local-with-remote" /></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de"/>
                            </label>
                            <label for="privacyDeLocal" class="local-content">
                                HTML-Code (DE) - <f:translate key="local-append" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="privacyDe" id="privacyDe" cols="40" rows="7"
                                             class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="privacyDeLocal" id="privacyDeLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="privacyDeTstamp" id="privacyDeTstamp"
                                              disabled="1"
                                              value="{domainConfig.privacyDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en"/>
                            </label>
                            <label for="privacyEnLocal" class="local-content">
                                HTML-Code (EN) - <f:translate key="local-append" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="privacyEn" id="privacyEn" cols="40" rows="7"
                                             class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="privacyEnLocal" id="privacyEnLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="privacyEnTstamp" id="privacyEnTstamp"
                                              disabled="1"
                                              value="{domainConfig.privacyEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-social" id="tab-social" data-source="{domainConfig.socialSource}">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3><f:translate key="tab-social-title" /></h3>
                    <p><f:translate key="tab-social-text" /></p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left"><f:translate key="local-version" /></span>
                                <f:form.checkbox property="socialSource" id="socialSource" value="1" class="checkbox-input"/>
                                <label class="checkbox-label" for="socialSource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right"><f:translate key="remote-version" /></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                <f:translate key="synclabel" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncSocial" {f:if(condition: domainConfig.clientId, else: 'disabled')}><f:translate key="sync-and-save" /></button>
                            <button type="button" class="btn btn-primary local-content" id="socialRestoreRemote"
                                {f:if(condition: '{domainConfig.socialDe} || {domainConfig.socialEn}', else: 'disabled')}
                            ><f:translate key="sync-local-with-remote" /></button>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de"/>
                            </label>
                            <label for="socialDeLocal" class="local-content">
                                HTML-Code (DE) - <f:translate key="local-append" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="socialDe" id="socialDe" cols="40" rows="7" class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="socialDeLocal" id="socialDeLocal" cols="40" rows="7" class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="socialDeTstamp" id="socialDeTstamp"
                                              disabled="1" value="{domainConfig.socialDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en"/>
                            </label>
                            <label for="socialEnLocal" class="local-content">
                                HTML-Code (EN) - <f:translate key="local-append" />
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="socialEn" id="socialEn" cols="40" rows="7" class="form-control remote-content" readonly="1"/>
                            <f:form.textarea property="socialEnLocal" id="socialEnLocal" cols="40" rows="7" class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="socialEnTstamp" id="socialEnTstamp"
                                              disabled="1"
                                              value="{domainConfig.socialEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-google">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3>Google Analytics</h3>

                    <p><f:translate key="analytics-text" /></p>

                    <div class="form-group row">
                        <label for="domain" class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.analytics_id"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="analyticsId" id="analyticsId" placeholder="UA-12345687-1"/>
                            <p class="text-muted">
                                <f:translate key="analytics-hint" />
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="flagEmbedTracking" class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_embed_tracking"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <f:form.checkbox property="flagEmbedTracking" id="flagEmbedTracking" value="1" class="checkbox-input"/>
                                <label class="checkbox-label" for="flagEmbedTracking">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="flagUserCentricsEmbed" class="col-sm-2 col-form-label">
                            <f:format.raw><f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_user_centrics_embed"/></f:format.raw>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <f:form.checkbox property="flagUserCentricsEmbed" id="flagUserCentricsEmbed" value="1" class="checkbox-input"/>
                                <label class="checkbox-label" for="flagUserCentricsEmbed">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                            </div>
                            <p>
                                <f:translate key="usercentrics-hint" />
                            </p>
                        </div>
                    </div>
                    <div class="form-group row" id="optOutCodeRow">
                        <label for="flagOptOutCode" class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_opt_out_code"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <f:form.checkbox property="flagOptOutCode" id="flagOptOutCode" value="1" class="checkbox-input"/>
                                <label class="checkbox-label" for="flagOptOutCode">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    <div role="tabpanel" class="tab-pane" id="tab-dok">
		    <div class="panel panel-tab">
			    <div class="panel-body">
				    <f:format.raw>{documentation}</f:format.raw>
			    </div>
		    </div>
	    </div>
        <div role="tabpanel" class="tab-pane" id="tab-status">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3><f:translate key="tab-state-title" /></h3>

                    <p><f:translate key="tab-state-text" /></p>

                    <table border="0" id="stateTable" class="state-table has-errors-{errors}">
                        <tbody>
                            <tr id="curlStateRow" class="state-row has-error-{curlError}">
                                <td>PHP cURL</td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        <f:translate key="curl-not-available" />
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        <f:translate key="curl-is-installed" />
                                    </div>
                                </td>
                            </tr>
                            <tr id="connectionStateRow" class="state-row has-error-{erechtServerError}">
                                <td><f:translate key="eserver-access" /></td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        <f:translate key="eserver-access-not-possible" />
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        <f:translate key="eserver-access-possible" />
                                    </div>
                                </td>
                            </tr>
                            <tr id="configStateRow" class="state-row has-error-{configError}">
                                <td><f:translate key="configuration-state" /></td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        <f:translate key="configuration-errors" />
                                        <f:if condition="{configErrorMessages}">
                                            <ul>
                                                <f:for each="{configErrorMessages}" as="configErrorMessage">
                                                    <li>{configErrorMessage}</li>
                                                </f:for>
                                            </ul>
                                        </f:if>
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        <f:translate key="configuration-is-good" /><br />
                                    </div>
                                </td>
                            </tr>
                            <tr id="pushStateRow" class="state-row has-error-{pushError}">
                                <td><f:translate key="eserver-push" /></td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        <f:translate key="eserver-push-not-possible" />
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        <f:translate key="eserver-can-push" />
                                    </div>
                                </td>
                            </tr>
                            <tr id="error-row">
                                <td></td>
                                <td>
                                    <button type="button" id="selfRepair" class="btn btn-primary" {f:if(condition: curlError, then: 'disabled')}><f:translate key="refresh-connection" /></button>
                                    <f:if condition="{curlError}">
                                        <p class="text-warning"><f:translate key="connection-not-possible-without-curl" /></p>
                                    </f:if>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br /><br />

                    <f:format.raw><f:translate key="debug-text" /></f:format.raw>

                    <textarea rows="10" id="debugInformations" disabled class="form-control">{debugInformations}</textarea>

                    <button type="button" id="copyDebugInformations" class="btn btn-primary"><f:translate key="copy-debug" /></button>

                </div>
            </div>
        </div>
    </div>
</div>

</html>
