<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form.hidden id="domainConfigId" name="domainConfigId" value="{domainConfig.uid}"/>

<div role="tabpanel">
    <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
        <li role="presentation" class="t3js-tabmenu-item  active">
            <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-toggle="tab">
                <core:icon identifier="fa-cog"/>
                Allgemein / API Key
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-toggle="tab">
                <core:icon identifier="fa-bullhorn"/>
                Impressum
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item">
            <a href="#tab-privacy" title="" aria-controls="tab-3" role="tab" data-toggle="tab">
                <core:icon identifier="fa-user"/>
                Datenschutzerklärung
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-social" title="" aria-controls="tab-social" role="tab" data-toggle="tab">
                <core:icon identifier="fa-facebook-square"/>
                Datenschutz für Social-Media-Profile
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-google" title="" aria-controls="tab-google" role="tab" data-toggle="tab">
                <core:icon identifier="fa-google"/>
                Google Analytics
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-dok" title="" aria-controls="tab-dok" role="tab" data-toggle="tab">
                <core:icon identifier="fa-question-circle"/>
                Dokumentation
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item {f:if(condition: errors, then: 'has-validation-error')}">
            <a href="#tab-status" title="" aria-controls="tab-status" role="tab" data-toggle="tab">
                <core:icon identifier="fa-check-circle"/>
                Pluginstatus
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3>Allgemein / API Key</h3>

                    <div class="form-group row">
                        <label for="domain" class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.domain"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textfield type="url" property="domain" id="domain" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="apiKey">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.api_key"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="apiKey" id="apiKey" class="form-control" />
                            <p class="text-muted">Geben Sie hier Ihren API-Schlüssel ein, welchen Sie für Ihre Webseite
                                im <a href="https://e-recht24.de/mitglieder/tools/projekt-manager" target="_blank"
                                       rel="nofollow noreferrer noopener">eRecht24 Projekt Manager für Websites</a>
                                erzeugt haben.</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                Synchronisieren
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" id="syncAllDocuments" {f:if(condition: domainConfig.clientId, else: 'disabled')}>Alle Rechtstexte
                                synchronisieren und
                                speichern
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-imprint" id="tab-2" data-source="{domainConfig.imprintSource}">
            <div class="panel panel-tab">
                <div class="panel-body">
                    <h3>Impressum</h3>
                    <p>Wählen Sie hier, ob Sie die aktuellste Version Ihres Impressums vom eRecht24 Projekt Manager
                        abrufen möchten bzw. dieses durch den eRecht24 Projekt Manager eingefügt werden kann oder ob Sie
                        Ihr Impressum lokal pflegen möchten.</p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left">Lokale Version</span>
                                <f:form.checkbox property="imprintSource" id="imprintSource" value="1"
                                                 class="checkbox-input"/>
                                <label class="checkbox-label" for="imprintSource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right">eRecht24 Projekt Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                Synchronisieren
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncImprint" {f:if(condition: domainConfig.clientId, else: 'disabled')}>Daten synchronisieren und speichern</button>
                            <button type="button" class="btn btn-primary local-content" id="imprintRestoreRemote"
                                {f:if(condition: '{domainConfig.imprintDe} || {domainConfig.imprintEn}', else: 'disabled')}
                            >Lokale Daten mit den zuletzt synchronisierten Texten überschreiben</button>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de"/>
                            </label>
                            <label for="imprintDeLocal" class="local-content">
                                HTML-Code (DE) - Lokal
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="imprintDe" id="imprintDe" cols="40" rows="7"
                                             class="form-control remote-content"/>
                            <f:form.textarea property="imprintDeLocal" id="imprintDeLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="imprintDeTstamp" id="imprintDeTstamp"
                                              value="{domainConfig.imprintDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"
                                              disabled="1"
                                              class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en"/>
                            </label>
                            <label for="imprintEnLocal" class="local-content">HTML-Code (EN) - Lokal</label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="imprintEn" id="imprintEn" cols="40" rows="7"
                                             class="form-control remote-content"/>
                            <f:form.textarea property="imprintEnLocal" id="imprintEnLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="imprintEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield property="imprintEnTstamp" id="imprintEnTstamp" disabled="1"
                                              class="form-control"
                                              value="{domainConfig.imprintEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-privacy" id="tab-privacy" data-source="{domainConfig.privacySource}">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3>Datenschutzerklärung</h3>
                    <p>Wählen Sie hier, ob Sie die aktuellste Version Ihrer Datenschutzerklärung vom eRecht24 Projekt
                        Manager abrufen möchten bzw. diese durch den eRecht24 Projekt Manager eingefügt werden kann oder
                        ob Sie Ihre Datenschutzerklärung lokal pflegen möchten.</p>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left">Lokale Version</span>
                                <f:form.checkbox property="privacySource" id="privacySource" value="1"
                                                 class="checkbox-input"/>
                                <label class="checkbox-label" for="privacySource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right">eRecht24 Projekt Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                Synchronisieren
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncPrivacy" {f:if(condition: domainConfig.clientId, else: 'disabled')}>Daten synchronisieren und speichern</button>
                            <button type="button" class="btn btn-primary local-content" id="privacyRestoreRemote"
                                    {f:if(condition: '{domainConfig.privacyDe} || {domainConfig.privacyEn}', else: 'disabled')}
                            >Lokale Daten mit den zuletzt synchronisierten Texten überschreiben</button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de"/>
                            </label>
                            <label for="privacyDeLocal" class="local-content">
                                HTML-Code (DE) - Lokal
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="privacyDe" id="privacyDe" cols="40" rows="7"
                                             class="form-control remote-content"/>
                            <f:form.textarea property="privacyDeLocal" id="privacyDeLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="privacyDeTstamp" id="privacyDeTstamp"
                                              disabled="1"
                                              value="{domainConfig.privacyDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en"/>
                            </label>
                            <label for="privacyEnLocal" class="local-content">
                                HTML-Code (EN) - Lokal
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="privacyEn" id="privacyEn" cols="40" rows="7"
                                             class="form-control remote-content"/>
                            <f:form.textarea property="privacyEnLocal" id="privacyEnLocal" cols="40" rows="7"
                                             class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="privacyEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="privacyEnTstamp" id="privacyEnTstamp"
                                              disabled="1"
                                              value="{domainConfig.privacyEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-social" id="tab-social" data-source="{domainConfig.socialSource}">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3>Datenschutz für Social-Media-Profile</h3>
                    <p>Wählen Sie hier, ob Sie die aktuellste Version Ihrer Datenschutzerklärung für
                        Social-Media-Profile vom eRecht24 Projekt Manager abrufen möchten bzw. diese durch den eRecht24
                        Projekt Manager eingefügt werden kann oder ob Sie Ihre Datenschutzerklärung für
                        Social-Media-Profile lokal pflegen möchten.</p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_source"/>
                        </label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-type-toggle">
                                <span class="label-left">Lokale Version</span>
                                <f:form.checkbox property="socialSource" id="socialSource" value="1" class="checkbox-input"/>
                                <label class="checkbox-label" for="socialSource">
                                    <span class="checkbox-label-text">&nbsp;</span>
                                </label>
                                <span class="label-right">eRecht24 Projekt Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label>
                                Synchronisieren
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary remote-content" id="syncSocial" {f:if(condition: domainConfig.clientId, else: 'disabled')}>Daten synchronisieren und speichern</button>
                            <button type="button" class="btn btn-primary local-content" id="socialRestoreRemote"
                                {f:if(condition: '{domainConfig.socialDe} || {domainConfig.socialEn}', else: 'disabled')}
                            >Lokale Daten mit den zuletzt synchronisierten Texten überschreiben</button>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialDe" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de"/>
                            </label>
                            <label for="socialDeLocal" class="local-content">
                                HTML-Code (DE) - Lokal
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="socialDe" id="socialDe" cols="40" rows="7" class="form-control remote-content"/>
                            <f:form.textarea property="socialDeLocal" id="socialDeLocal" cols="40" rows="7" class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialDeTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="socialDeTstamp" id="socialDeTstamp"
                                              disabled="1" value="{domainConfig.socialDeTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialEn" class="remote-content">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en"/>
                            </label>
                            <label for="socialEnLocal" class="local-content">
                                HTML-Code (EN) - Lokal
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textarea property="socialEn" id="socialEn" cols="40" rows="7" class="form-control remote-content"/>
                            <f:form.textarea property="socialEnLocal" id="socialEnLocal" cols="40" rows="7" class="form-control local-content"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="socialEnTstamp">
                                <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en_tstamp"/>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <f:form.textfield class="form-control" property="socialEnTstamp" id="socialEnTstamp"
                                              disabled="1"
                                              value="{domainConfig.socialEnTstamp->f:format.date(format: 'Y-m-d H:i:s')}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-google">
            <div class="panel panel-tab">
                <div class="panel-body">
                    <label for="analyticsId">
                        <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.analytics_id"/>
                    </label><br/>
                    <f:form.textfield class="form-control" property="analyticsId" id="analyticsId"/>
                    <br/>
                    <label for="flagEmbedTracking">
                        <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_embed_tracking"/>
                    </label><br/>
                    <f:form.checkbox property="flagEmbedTracking" id="flagEmbedTracking" value="1"/>
                    <br/>
                    <label for="flagUserCentricsEmbed">
                        <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_user_centrics_embed"/>
                    </label><br/>
                    <f:form.checkbox property="flagUserCentricsEmbed" id="flagUserCentricsEmbed" value="1"/>
                    <br/>
                    <label for="flagOptOutCode">
                        <f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_opt_out_code"/>
                    </label><br/>
                    <f:form.checkbox property="flagOptOutCode" id="flagOptOutCode" value="1"/>
                    <br/>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-status">
            <div class="panel panel-tab">
                <div class="panel-body">

                    <h3>Statusübersicht</h3>

                    <p>Hier können Sie prüfen, ob Ihr Server die Systemvoraussetzungen für dieses Plugin erfüllt und ob die eRecht24-Server erreichbar sind.</p>

                    <table border="0" id="stateTable" class="state-table has-errors-{errors}">
                        <tbody>
                            <tr id="curlStateRow" class="state-row has-error-{curlError}">
                                <td>PHP cURL</td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        PHP cURL steht auf diesem Server nicht zur Verfügung. Ohne cURL kann keine Verbindung zur API aufgebaut werden.
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        cURL ist im System installiert.
                                    </div>
                                </td>
                            </tr>
                            <tr id="connectionStateRow" class="state-row has-error-{erechtServerError}">
                                <td>eRecht24 Server ist erreichbar</td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        Verbindungsaufbau mit eRecht24 Server nicht möglich.
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        Verbindung zum eRecht24-Server konnte erfolgreich hergestellt werden
                                    </div>
                                </td>
                            </tr>
                            <tr id="configStateRow" class="state-row has-error-{configError}">
                                <td>Die eRecht24 Konfiguration ist korrekt konfiguriert</td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        Ihre Konfiguration ist fehlerhaft:
                                        <f:if condition="{configErrorMessages}">
                                            <ul>
                                                <f:for each="{configErrorMessages}" as="configErrorMessage">
                                                    <li>{configErrorMessage}</li>
                                                </f:for>
                                            </ul>
                                        </f:if>
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        Die API-Schnittstelle ist korrekt konfiguriert.<br />
                                    </div>
                                </td>
                            </tr>
                            <tr id="pushStateRow" class="state-row has-error-{pushError}">
                                <td>eRecht24 Server antwortet</td>
                                <td>
                                    <div class="errortext">
                                        <span style="color: red;"><core:icon identifier="actions-close" /></span>
                                        Der eRecht24 Server ist nicht in der Lage, neue Daten in Ihre TYPO3-Seite zu pushen.
                                    </div>
                                    <div class="fine-text">
                                        <span style="color: green;"><core:icon identifier="actions-check" /></span>
                                        Der eRecht24 Server ist in der Lage, neue Daten in Ihre TYPO3-Seite zu pushen.
                                    </div>
                                </td>
                            </tr>
                            <tr id="error-row">
                                <td></td>
                                <td>
                                    <button type="button" id="selfRepair" class="btn btn-primary" {f:if(condition: curlError, then: 'disabled')}>Verbindung auffrischen</button>
                                    <f:if condition="{curlError}">
                                        <p class="text-warning">Eine API Verbindung kann ohne cURL nicht hergestellt werden.</p>
                                    </f:if>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br /><br />

                    <p>
                        Falls Sie Unterstützung benötigen, senden Sie uns bitte eine E-Mail. Fügen Sie die notwendigen Debuginformationen hinzu, indem Sie diesen Schritten folgen:
                    </p>
                    <ol>
                        <li>Schreiben Sie eine E-Mail an <a href="mailto:support@e-recht24.de">support@e-recht24.de</a>.</li>
                        <li>Beschreiben Sie das Problem so detailliert wie möglich.</li>
                        <li>Klicken Sie auf den Button mit der Aufschrift "Debuginformationen in die Zwischenablage kopieren".</li>
                        <li>Fügen Sie die Informationen in die E-Mail ein, indem Sie "Strg" + "V" drücken oder indem Sie einen Rechtsklick machen und auf "Einfügen" klicken.</li>
                    </ol>

                    <textarea rows="10" id="debugInformations" disabled class="form-control">{debugInformations}</textarea>

                    <button type="button" id="copyDebugInformations" class="btn btn-primary">Debuginformationen in die Zwischenablage kopieren</button>

                </div>
            </div>
        </div>
    </div>
</div>

</html>
