<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-er24-rechtstexte" >
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.domain" />
		</td>
		<td>
			{domainConfig.domain}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.api_key" />
		</td>
		<td>
			{domainConfig.apiKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_source" />
		</td>
		<td>
			{domainConfig.imprintSource}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de" />
		</td>
		<td>
			{domainConfig.imprintDe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_de_tstamp" />
		</td>
		<td>
			{domainConfig.imprintDeTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en" />
		</td>
		<td>
			{domainConfig.imprintEn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.imprint_en_tstamp" />
		</td>
		<td>
			{domainConfig.imprintEnTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_source" />
		</td>
		<td>
			{domainConfig.privacySource}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de" />
		</td>
		<td>
			{domainConfig.privacyDe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_de_tstamp" />
		</td>
		<td>
			{domainConfig.privacyDeTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en" />
		</td>
		<td>
			{domainConfig.privacyEn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.privacy_en_tstamp" />
		</td>
		<td>
			{domainConfig.privacyEnTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_source" />
		</td>
		<td>
			{domainConfig.socialSource}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de" />
		</td>
		<td>
			{domainConfig.socialDe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_de_tstamp" />
		</td>
		<td>
			{domainConfig.socialDeTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en" />
		</td>
		<td>
			{domainConfig.socialEn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.social_en_tstamp" />
		</td>
		<td>
			{domainConfig.socialEnTstamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.analytics_id" />
		</td>
		<td>
			{domainConfig.analyticsId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_embed_tracking" />
		</td>
		<td>
			{domainConfig.flagEmbedTracking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_user_centrics_embed" />
		</td>
		<td>
			{domainConfig.flagUserCentricsEmbed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.flag_opt_out_code" />
		</td>
		<td>
			{domainConfig.flagOptOutCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.root_pid" />
		</td>
		<td>
			{domainConfig.rootPid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_er24rechtstexte_domain_model_domainconfig.site_config_name" />
		</td>
		<td>
			{domainConfig.siteConfigName}
		</td>
	</tr>
</table>
</html>