<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">



    <h2>Konfigurieren Sie hier die Funktionalität des des Domain Plugins.</h2>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <f:form action="update" name="domainConfig" object="{domainConfig}">

        <f:render partial="DomainConfig/FormFields" arguments="{domainConfig:domainConfig}"/>

        <f:form.submit value="Save"/>
    </f:form>
</f:section>
</html>
