<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Backend"/>

<f:section name="content">

    <h1>
        <core:icon identifier="ext-er24-rechtstexte-plugin-main"/>
        <f:translate key="backend.title"/>
    </h1>

    <h2><f:translate key="create-title" /></h2>

    <br />

    <f:flashMessages/>

    <f:render partial="DomainConfig/FormErrors"/>

    <div class="row">
        <div class="col col-md-4">
            <f:form action="create" name="newDomainConfig" id="configCreateForm" object="{newDomainConfig}">

                <div class="form-group">
                    <label for="domain">Domain</label>
                    <f:form.textfield property="domain" type="text" id="domain" class="form-control" pattern="https?:\/\/[\S]+" title="{f:translate(key:'domain-validator')}" required="1"/>
                </div>

                <div class="form-group">
                    <label for="siteConfig">Site-Configuration</label>
                    <f:form.select property="siteConfigName" id="siteConfig" class="form-control">
                        <f:form.select.option value=""><f:translate key="please-choose" /></f:form.select.option>
                        <f:for each="{allSiteConfigurations}" as="siteConfig">
                            <f:form.select.option value="{siteConfig.identifier}" data="{domain: siteConfig.base}">{siteConfig.identifier}</f:form.select.option>
                        </f:for>
                    </f:form.select>
                </div>

                <f:comment>
                <!--
                <div class="form-group">
                    <label for="language">Site-Configuration Language</label>
                    <f:form.select options="{allLanguages}" prependOptionValue="" prependOptionLabel="Bitte wählen" optionValueField="languageId" optionLabelField="title" property="siteLanguage" id="language" class="form-control"/>
                </div>
                -->
                </f:comment>

                <div class="form-group">
                    <label for="apiKey">API Key</label>
                    <f:form.textfield property="apiKey" id="apiKey" class="form-control" required="1"/>
                </div>

                <f:link.action action="list" class="btn btn-default">
                    <f:translate key="abort" />
                </f:link.action>

                <button type="submit" class="btn btn-success pull-right">
                    <f:translate key="create-save" />
                </button>

            </f:form>
        </div>
    </div>
</f:section>
</html>
