<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/BackendModule.css\')}'}"
    includeRequireJsModules="{0: 'TYPO3/CMS/Er24Rechtstexte/eRecht24Module'}">
    <div class="module erecht-module">
        <div id="module-docbody">
            <div id="typo3-inner-docbody">

                <f:flashMessages />

                <div id="t3js-ui-block" class="ui-block">
                    <core:icon identifier="spinner-circle" size="large"/>
                    <h2 id="t3js-ui-block-detail"><f:translate key="module-loading" /></h2>
                </div>

                <f:render section="content" />
            </div>
        </div>
    </div>
</f:be.container>
</html>
